<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
  <div class="summary">
      <p>I currently work as a Fullstack Ruby on Rails Developer. I build web applications that solve complex problems. I use best practices and principles when developing web applications such as SOLID principles, design pattern and TDD. I have built many projects using Vue.js and React.js, Ruby on Rails, have worked with Heroku platform and AWS. Apart from programming languages I also know I speak very well English, I also know Portugues, Spanish and German.</p>
  </div><!--//summary-->
</section><!--//section-->
