<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
  <div class="summary">
      <p>I currently work as a Ruby on Rails Developer. I build web applications that solve complex problems. I use best practices and principles when developing web applications such as SOLID principles, design pattern and TDD. Apart from programming languages I also know human languages like English. I speak very well English. In my carreer as a programmer I would like to become profficient in both front-end and backend applications.</p>
  </div><!--//summary-->
</section><!--//section-->
