<section class="section summary-section">
  <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
  <div class="summary">
      <p>I specialize in Ruby on Rails framework and Ruby programming language. I build web applications that solve complex problems. I use various techniques in developing web applications, such as TDD, BDD, DDD. I want to develop my key competencies and broaden my knowledge on creating web applications</p>
  </div><!--//summary-->
</section><!--//section-->