<div class="education-container container-block">
  <h2 class="container-block-title">Education and Courses</h2>
  <div class="item">
      <h4 class="degree">BA in English Language</h4>
      <h5 class="meta">AHE in Lodz</h5>
      <div class="time">2002 - 2006</div>
  </div><!--//item-->
  <div class="item">
      <h4 class="degree">ITIL Foundations</h4>
      <h5 class="meta">AHE in Lodz</h5>
      <div class="time">December 2013</div>
  </div><!--//item-->
  <div class="item">
      <h4 class="degree">Microsoft 410:Installing and Configuring Windows Server 2012 - AHE Łódź</h4>
      <h5 class="meta">AHE in Lodz</h5>
      <div class="time">March 2014</div>
  </div><!--//item-->
  <div class="item">
      <h4 class="degree">Linux administration (user level)</h4>
      <h5 class="meta">Linux Shark</h5>
      <div class="time">February 2015</div>
  </div><!--//item-->
  <div class="item">
      <h4 class="degree">Front-End Developer</h4>
      <h5 class="meta">Akademia Kodu (Warsaw)</h5>
      <div class="time">March 2016</div>
  </div><!--//item-->
  <div class="item">
      <h4 class="degree">Front-End Developer</h4>
      <h5 class="meta">Akademia Kodu (Warsaw)</h5>
      <div class="time">March 2016</div>
  </div><!--//item-->
  <div class="item">
      <h4 class="degree">Ruby on Rails</h4>
      <h5 class="meta">Akademia Kodu (Warsaw)</h5>
      <div class="time">August 2016</div>
  </div><!--//item-->
  <div class="item">
      <h4 class="degree">Junior Ruby on Rails</h4>
      <h5 class="meta">Arkency</h5>
      <div class="time">Currently</div>
  </div><!--//item-->
</div><!--//education-container-->