<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Application Support Enginner</h3>
                            <div class="time">March 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Lingaro, Warsaw</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As Application Support Service (3rd Line) I am responsible for helping both developers and customers to deliver expected service which includes bugs fixes, adding new features, deploying new iterations to production environemtn and supporting database platform (CIS Data Virtulisation).</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT Consultant</h3>
                            <div class="time">May 2014 - February 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Concare IT, Warsaw</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was an IT consultant responsible for supporting users both online and onsite. My main responsibilities were deploying software, operating systems and hardware at users locations.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT Service Desk Specialist</h3>
                            <div class="time">January 2012 - March 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Tate & Lyle, Łódź</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Logging and categorizing incidents, service requests and some categories of change, first line investigation and diagnosis, escalation, communication with users and IT staff, updating the CMS, user administration.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Customer Support Technician</h3>
                            <div class="time">July 2010 - December 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Fujitsu Technology Solutions Sp. z o.o.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Logging and escalating incidents, first line investigation and resolution, communication with users and IT staff, user administration.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->