<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Fullstack Ruby on Rails Developer with Vue.js and React</h3>
                            <div class="time">October 2018 - until now </div>
                        </div><!--//upper-row-->
                        <div class="company">Polcode, Warsaw</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Fullstack developer with Vue.js, React.js. Frontend and backend development, technology stack: Ruby on Rails 5, React.js, Vue.js, Heroku, Postgres, ES6, SCSS, Webpack, RSpec, AWS, Git, Capistrano.
                        Participated in many projects in the aforementioned stack, including writing my own gem.
                        In the meantime, I also contributed to open source projects, such as Rails, Charts.js and AlchemyCMS (mostly bug fixes and documentation).
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Ruby on Rails Developer</h3>
                            <div class="time">March 2018 - October 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Netguru S.A., Warsaw</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Contribution to many projects, smaller as well more complex ones, cooperation with larger development teams working in Scrum methodology. Development of REST'ful APIs using Grape framework, many integrations with external services such as Gini (invoice processing), Mailchimp, Sendgrid and cloud-based APIs, admin panels and Content Management Systems. Writing unit and integration tests. Technology stack: Ruby on Rails 5, Heroku, Postgres, Git, AWS, RSpec</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Application Support Enginner</h3>
                            <div class="time">March 2015 - December 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Lingaro, Warsaw</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As Application Support Engineer (3rd Line) I was responsible for helping both developers and customers in delivering new requests, adding new features, deploying new versions to production environment and fixing bugs both in the application and database.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT Consultant</h3>
                            <div class="time">May 2014 - February 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Concare IT, Warsaw</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was an IT consultant responsible for supporting users both online and onsite. My main responsibilities were processing daily requests, resolving issues, deploying software, operating systems and hardware at users locations.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT Service Desk Specialist</h3>
                            <div class="time">January 2012 - March 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Tate & Lyle, Łódź</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Logging and categorizing incidents, service requests and some categories of change, first line investigation and diagnosis, escalation, communication with users and IT staff, user administration, resolving issues.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Customer Support Technician</h3>
                            <div class="time">July 2010 - December 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Fujitsu Technology Solutions Sp. z o.o.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Logging and escalating incidents, first line investigation and resolution, communication with users and IT staff, user administration.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
