<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <!-- <div class="intro">
        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
    </div> --><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="https://overtime-app2.herokuapp.com" target="_blank">Time Entry App</a></span> - 
        <span class="project-tagline">An application for submitting working time and calculating monthly overtime and salaries for salaried employees.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/jedrekdomanski/gitapp" target="_blank">GitHub App</a></span> - 
        <span class="project-tagline">An application for processing GitHub webhooks.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://jedrekshop.herokuapp.com/" target="_blank">e-shop</a></span> - 
        <span class="project-tagline">A Ruby on Rails E-commerce shopping cart. Includes such features as adding products to the cart, checking out products, user authentication, authorisation and admin panel.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://film-rating-app.herokuapp.com" target="_blank">Film Rating App</a></span> - 
        <span class="project-tagline">A star-based rating system built on Ruby on Rails and JavaScript. It allows adding your favourite films, rate them and track public activity. </span>
    </div><!--//item-->
<section>
